:root {
    --white: #FFFFFF;
    --blue: #377DFF;
    --red: #FF2D2D;
    --green: #7CE761;
    --orange: #FFA800;
    --blue-darken: #2555B2;
    --black: #1D1D1D;
    --gray: #464646;
    --footer-bg: #383638;
    --shadow-blue: 0px 4px 8px rgba(55, 125, 255, 0.5);
    --shadow-black-l: 0px 8px 24px rgba(0, 0, 0, 0.15);
    --shadow-black-xl: 0px 8px 24px rgba(0, 0, 0, 0.05);
    --shadow-black-s: 0px 3px 20px rgba(0, 0, 0, 0.05);
    --shadow-black: 4px 4px 30px rgba(0, 0, 0, 0.1);

    --container-widht: 1240px;
    --container-offset: 25px;

    --transition: all .2s linear;;
}